{# templates/index.html #}

{% extends "base.html" %}

{% block head_extra %}
<link href="{{ url_for('static', filename='styles/home.css') }}" rel="stylesheet">
{% endblock head_extra %}

{% block body%}
<div style='background-image: url("{{ url_for('static', filename='media/portada.png') }}")' id="main-banner">
    <h1 id="banner-h1" >GonzaCook</h1>
    <h2 id="banner-h2">Home cooking with ♥</h2>
</div>

<div id="presentation">
    Bienvenido al sitio web de GonzaCook. Desde aquí podrás acceder a toda la información de mis productos, conocer mi propuesta, hacer encargos y muchas cosas más.
    Gonzacook.com cuenta con un carrito virtual para armar tu pedido, selecciona los productos del catálogo para agregarlos a tu carrito. El mismo puede accederse desde el menú superior.
    Al confirmar la compra se generará un mensaje el cual podrás enviar a Gonzacook.
</div>

<div class="cursive-h1">
    <h1 id="misp" class="cursive-h1-txt">Mis productos</h1>
</div>
<div id="catalog" class="card-columns">
{% for p in productos %}
    <a class="card tarjeta prodlink" href="{{g.rootpath}}/productos/{{p.code}}" style='display: block; background-image: url("{{ url_for('static', filename='media/productos/'+p.code+'-cover.jpg') }}")' class="card">
            <div class="card-body">
                <h5 class="card-title tarjeta-t prodlink">{{p.nombre}}</h5>
            </div>
    </a>
{% endfor %}
</div>

<div class="cursive-h1"id="sobremi">
    <h1 class="cursive-h1-txt">Sobre Mi</h1>
</div>
<div id="presentation">
   Muchas gracias por visitar mi página. En 2021 decidí iniciar mi pequeño emprendimiento de cocina, comencé vendiendo galletas de avena con gran éxito y a
    lo largo de los meses he ido ampliando mis productos siempre teniendo en cuenta la calidad de la materia prima y la opinión de mis clientes.
    
    Te invito a que me dejes tus comentarios, consultas o cualquier inquietud que tengas en mis redes sociales. Me será un gran gusto poder responderte.
</div>

{% endblock body%}
