body {
	overflow-x: hidden;
    background-color: #fffdd0 !important;
}

.navbar {
    border-style: hidden hidden solid hidden;
    border-width: 0.2rem;
}

#nav-item-kart {
    color: black !important;
}

#img-jumbo {
    width: 100%;
}

#main-banner {
    background-size: cover;
}

#banner-h1 {
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: calc(1.8*(1.375rem + 1.5vw));
    text-align: center;
    padding-top: 4rem;
    color: #ffffff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

}

#banner-h2 {
    font-family: 'Helvetica';
    font-size: calc(1.5*(1.325rem + .9vw));
    text-align: center;
    font-style: italic;
    padding: 2.5rem 0.5rem 7rem 0.5rem;
    color: #ffffff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

}

#presentation {
    border-style: solid;
    border-color: #542323;
    margin: 2rem 0.5rem 2rem 0.5rem;
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
}

#misp {
    text-align: center;
    font-family: 'Lucida Handwriting',cursive;
    margin-bottom: 2rem;
}
#sobremi {
    text-align: center;
    font-family: 'Lucida Handwriting',cursive;
    margin-bottom: 2rem;
    border-style: solid hidden hidden hidden;
    border-width: 0.2rem;
    padding-top: 1rem;
}
#catalog {
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
}

.card {
    display: inline-block !important;
    background-color: #fff6a3 !important;
    margin-bottom: 0.5rem;
}

.prodlink:visited{
    color:black !important;
}

.prodlink:link{
    color:black !important;
}

.prodlink:hover{
    color:#403c00 !important;
}

.prodlink:active{
    color:rgb(0, 0, 0) !important;
}
.social-list {
    font-size: xx-large;
    margin-right: 1rem;
}

.btn-sabores {
    background-color: #F3E5AB !important;
    color:black !important;
    border-color: black !important;
    margin: 0.1rem 0.1rem 0.1rem 0.5rem;
}

@media (min-width: 1px) and (max-width: 800px){
    .card-columns {
        column-count: 2;
    }
}
@media (min-width: 801px) and (max-width: 1200px){
    .card-columns {
        column-count: 3;
    }
}
@media (min-width: 1201px){
    .card-columns {
        column-count: 4;
    }
    body {
    	margin: 0 15rem 0 15rem !important;
    }
}

.modal-content {
    background-color: #fffdd0 !important;
}

